body {
    margin: 0px;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #400000
}

h2 {
    font-size: 1.75em;
}

.Macintosh {
    background-color: #F29727;
    padding: 30px;
    height: 400px;
}

.others {
    background-color: #454B49;
    padding: 30px;
}

.leftside {
    width: 60%;
    height: 400px;
    float: left;
}

.rightside {
    width: 40%;
    height: 400px;
    float: left;
}
